hibernate.connection.url=${HIBERNATE_URL}
hibernate.connection.username=${HIBERNATE_USERNAME}
hibernate.connection.password=${HIBERNATE_PASSWORD}

hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
hibernate.query.substitutions true=Y, false=N

hibernate.hikari.dataSourceClassName=org.mariadb.jdbc.MariaDbDataSource